﻿@model DataPaginador<TCursos>

<div class="modal fade" data-backdrop="static" id="modal-crear-cursos" tabindex="-1"
     role="dialog" aria-labelledby="modalLabelCrearCursos">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabelCrearCursos">Agregar curso</h4>
                <button type="button" onclick="curso.LimpiarCamposModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="cursos-form" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <center>
                            <div class="form-group">
                                <div class="col-md-5">
                                    <a class="thumbnail">
                                        <output id="cursoImage">
                                            <img src="~/Images/logo-google.png" class="cursoImage" />
                                        </output>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group btn btn-success text-light">
                                <label for="files">Cargar foto</label>
                                <div class="col-md-10">
                                    <input asp-for="AvatarImage" accept="image/*" type="file" class="file-input" id="files" />
                                </div>
                            </div>
                        </center>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Nombre" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Nombre" class="form-control" placeholder="Nombre" id="curNombre" />
                                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Descripcion" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Descripcion" class="form-control" placeholder="Descripcion" id="curDescripcion" />
                                    <span asp-validation-for="Input.Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Horas" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Horas" class="form-control" placeholder="Horas" id="curHoras" />
                                    <span asp-validation-for="Input.Horas" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Costo" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Costo" class="form-control" placeholder="Costo" id="curCosto" />
                                    <span asp-validation-for="Input.Costo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Estado" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Estado" id="curEstado" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Categoria" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => Model.Input.CategoriaID,
                                   new SelectList(Model.Categorias, "Value", "Text"), "Seleccione una categoria",
                                   htmlAttributes: new { @class = "form-control", @id = "curCategoria" })
                                    <span asp-validation-for="Input.CategoriaID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input type="text" id="curCursoID" asp-for="Input.CursoID" class="input-hidden"/>

                        <span id="mensaje" class="text-danger"></span>
                        <input type="text" required class="input-hidden" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="curso.LimpiarCamposModal()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" onclick="curso.RegistrarCurso()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>