﻿@model DataPaginador<TCursos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cursos</h1>

<form asp-area="Cursos" asp-controller="Cursos" asp-action="Index" method="get">
    <div class="row">
        <div class="col-xs-8 col-md-3">
            <input id="filtrar" type="text" placeholder="Buscar cursos." name="Search" class="form-control" />
        </div>
        <div class="col-xs-8 col-md-3">
            <input type="submit" class="btn btn-info" value="Buscar" />
        </div>
    </div>
</form>

<br />
<br />

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <a data-toggle="modal" data-target="#modal-crear-cursos" class="btn btn-info text-white">Crear curso</a>
        </div>

        <form asp-area="Cursos" asp-controller="Cursos" asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-5">
                    <input type="number" name="Registros" class="form-control" value="5" min="1" max="50" step="1" />
                </div>

                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="N Registros" />
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Estado)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        @{
            var categorias = JsonConvert.SerializeObject(Model.Categorias);
        }
        <!-- Con Model hago referencia al modelo que estoy inyectando para esta vista 'DataPaginador<TCursos>' -->
        @foreach (var item in Model.List)
        {
            var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Image, 0, item.Image.Length);
            <tr>
                <td class="tdImage">
                    <img class="img-fluid img-thumbnail circle"  src="@image"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

                <td>
                    <form asp-area="Cursos" asp-controller="Cursos" asp-action="UpdateEstado" method="post">
                        <input type="hidden" name="id" value="@item.CursoID" />
                        @if (item.Estado)
                        {
                            <button type="submit" class="btn btn-success text-light">Activo</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger text-light">Inactivo</button>
                        }
                    </form>
                </td>
                <td>
                    @{
                        var data = JsonConvert.SerializeObject(@item);
                        <a onclick="curso.EditarCurso(@data, @categorias)" data-toggle="modal" data-target="#modal-crear-cursos" class="btn btn-info text-light">Editar</a>

                        <a onclick="curso.ObtenerCurso(@data)" data-toggle="modal" data-target="#modal-eliminar-curso" class="btn btn-danger text-light">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>

<partial name="_ModalRegistrar" />
<partial name="_ModalEliminar"/>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
