﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaWebCursos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sheetslider.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Categorias.js" asp-append-version="true"></script>
    <!-- Es importante que UploadPicture se importe primero antes que Cursos.js, ya que la clase Cursos hereda de UploadPicture -->
    <script src="~/js/UploadPicture.js" asp-append-version="true"></script>
    <script src="~/js/Cursos.js" asp-append-version="true"></script>
    <script src="~/js/Principal.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo-google.png" class="imgLogo" />
                    SistemaWebCursos
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var esAdmin = await UserManager.IsInRoleAsync(user, "Admin");

                            if (esAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Categorias" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Cursos" asp-controller="Cursos" asp-action="Index">Cursos</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Inscripciones" asp-controller="Inscripciones" asp-action="Index">Inscripciones</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SistemaWebCursos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
