﻿@model DataPaginador<DataCurso>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inscripciones</h1>

<br />

<div class="form-group">
    <form asp-area="Inscripciones" asp-controller="Inscripciones" asp-action="Index"  method="post">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="filtrar" name="search" placeholder="Buscar" class="form-control" />
            </div>

            <div class="col-md-1">
                <input type="submit" value="Buscar" class="btn btn-success" />
            </div>

            <div class="col-md-1">
                <a asp-area="Inscripciones" asp-controller="Inscripciones" asp-action="Export" class="btn btn-info">Exportar</a>
            </div>
        </div>
    </form>
</div>

<div class="row">
    @foreach (var item in Model.List)
    {
        var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Image, 0, item.Image.Length);

        <div class="col-xs-6 col-md-2">
            <div class="card">
                <div class="card-header">
                    <a asp-route-id="@item.CursoID" asp-action="Detalles">
                        <img class="img-fluid img-thumbnail circle" src="@image" />
                    </a>
                </div>

                <div class="card-body">
                    <table class="tableCursos">
                        <tbody>
                            <tr>
                                <td>
                                    <p>@Html.DisplayFor(modelItem => item.Nombre)</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @if (item.Estado)
                                    {
                                        <p class="text-success">Disponible</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Disponible</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>@Html.DisplayFor(modelItem => item.Costo)</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div align="center">
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>
