﻿<!-- Guía para crear SheetSlider: https://zkreations.github.io/SheetSlider/ -->
<div class="text-center">
    <div class="sheetSlider sh--default">
        <input id="s1" type="radio" name="slide1" checked />
        <input id="s2" type="radio" name="slide1" />
        <input id="s3" type="radio" name="slide1" />
        <input id="s4" type="radio" name="slide1" />
        <input id="s5" type="radio" name="slide1" />
        <input id="s6" type="radio" name="slide1" />
        <input id="s7" type="radio" name="slide1" />
        <input id="s8" type="radio" name="slide1" />
        <input id="s9" type="radio" name="slide1" />
        <input id="s10" type="radio" name="slide1" />

        <div class="sh__content">
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/UWP.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>Curso de app para la platafarma universal de windows UWP C# <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Android-kotlin1.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>Android Kotlin</h4>
                    <span>Curso de Android Kotlin <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Android3.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>Android</h4>
                    <span>Curso de Android  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Dart-and-Flutter.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>Dart and Flutter</h4>
                    <span>Curso de Dart and Flutter  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/System3.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>System 3</h4>
                    <span>Curso de System 3  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Systema1.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>System 1</h4>
                    <span>Curso de System 1  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Systema4.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>System 4</h4>
                    <span>Curso de System 4  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Systema-portadaASP-NET-Core.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>ASP.NET CORE</h4>
                    <span>Curso de ASP.NET CORE  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Systema-portada-core.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>CORE</h4>
                    <span>Curso de CORE  <a href="#">with link</a> </span>
                </div>
            </div>
            <!-- Slider item -->
            <div class="sh__item">
                <img src="~/Images/Xamarin.png" alt="imgText" class="imgSlider" />
                <!-- Item info -->
                <div class="sh__meta">
                    <h4>Xamarin</h4>
                    <span>Curso de Xamarin<a href="#">with link</a> </span>
                </div>
            </div>
        </div>

        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>

        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>
    </div>
</div>
