﻿@model DataCurso
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var image = "data:image/jpg;base64," + Convert.ToBase64String(Model.Image, 0, Model.Image.Length);
}

<div class="container">
    <h1>Detalles</h1>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 21rem">
                <img class="img-fluid img-thumbnail" src="@image" />
                <div class="card-body">
                    <table class="tableCursos">
                        <tbody>
                            <tr>
                                <td>@Model.Nombre</td>
                            </tr>

                            <tr>
                                <td>
                                    @if (@Model.Estado)
                                    {
                                        <p class="text-success">Disponible</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">No Disponible</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>@Html.DisplayFor(modelItem => Model.Costo)</h5>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form asp-controller="Home" asp-action="Obtener" method="post" >
                                        <input type="hidden" name="cursoId" value="@Model.CursoID" />
                                        <input type="hidden" name="vista" value="2"/>
                                        <input type="submit" class="btn btn-success btn-sm" value="Obtener" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.Raw(Model.ErrorMessage)
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <table class="tableCurso">
                        <tbody>
                            <tr>
                                <th>Descripcion</th>
                            </tr>

                            <tr>
                                <td>
                                    <p>@Model.Descripcion</p>
                                </td>
                            </tr>

                            <tr>
                                <th>Categoria</th>
                            </tr>

                            <tr>
                                <td><p>@Model.Categoria</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


