﻿@model DataPaginador<TCursos>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <partial name="_SheetSlider" />

    <br />

    <div class="form-group">
        <form action="" method="post">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="filtrar" name="Search" placeholder="Buscar" class="form-control" />
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <input type="submit" value="Buscar" class="btn btn-success buscar" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        @foreach (var item in Model.List)
        {
            var image = "data:image/jpg;base64," + Convert.ToBase64String(item.Image, 0, item.Image.Length);

            <div class="col-xs-6 col-md-2">
                <div class="card">
                    <div class="card-header">
                        <a asp-route-id="@item.CursoID" asp-action="Detalles">
                            <img class="img-fluid img-thumbnail circle" src="@image" />
                        </a>
                    </div>

                    <div class="card-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (item.Estado)
                                        {
                                            <p class="text-success">Disponible</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">No Disponible</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Costo)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <form asp-controller="Home" asp-action="Obtener" method="post">
                                            <input type="hidden" name="cursoId" value="@item.CursoID"/>
                                            <input type="hidden" name="vista" value="1"/>
                                            <input type="submit" class="btn btn-success btn-sm" value="Obtener" />
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

    <div align="center">
        Resultados @Html.Raw(Model.Pagi_info)
        <br />
        @Html.Raw(Model.Pagi_navegacion)
    </div>
</div>
