﻿<div class="modal fade" id="modal-eliminar-categoria" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Categoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>¿Está seguro de eliminar la categoria?</h5>
                <h5 id="titleCategoriaEliminar"></h5>
            </div>
            <div class="modal-footer">
                <span id="mensaje-eliminar" class="text-danger"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="categorias.EliminarCategoria()" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>