﻿@model DataPaginador<TCategoria>
<div class="modal fade" data-backdrop="static" id="modal-categorias" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar categoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" class="form-categoria">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Input.Nombre" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Input.Nombre" id="catNombre" placeholder="Nombre" class="form-control" />
                                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Descripcion" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Input.Descripcion" id="catDescripcion" placeholder="Descripcion" class="form-control" />
                                <span asp-validation-for="Input.Descripcion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Estado" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Input.Estado" id="catEstado" />
                            </div>
                        </div>
                        <span id="mensaje" class="text-danger"></span>
                        <!--Este input está oculto y solo me sirve para hacer que el modal persista y
                            no se cierre luego de que ocurra algún error luego de guardar la categoria.-->
                        <input type="text" required class="input-hidden" />

                        <input asp-for="Input.CategoriaID" id="catCategoriaID" class="input-hidden" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" onclick="categorias.RegistrarCategoria()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>