﻿@model DataPaginador<TCategoria>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorias</h1>

<form asp-area="Categorias" asp-controller="Categorias" asp-action="Index" method="get">
    <div class="row">
        <div class="col-xs-8 col-md-3">
            <input id="filtrar" type="text" placeholder="Buscar categorias." name="Search" class="form-control" />
        </div>
        <div class="col-xs-8 col-md-3">
            <input type="submit" class="btn btn-info" value="Buscar" />
        </div>
    </div>
</form>

<br />
<br />

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <a data-toggle="modal" onclick="categorias.LimpiarCamposModal()" data-target="#modal-categorias" class="btn btn-info text-white">Crear categoria</a>
        </div>

        <form asp-area="Categorias" asp-controller="Categorias" asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-5">
                    <input type="number" name="Registros" class="form-control" value="5" min="1" max="50" step="1" />
                </div>

                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="N Registros" />
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Input.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input.Estado)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        <!-- Con Model hago referencia al modelo que estoy inyectando para esta vista 'DataPaginador<TCategoria>' -->
        @foreach (var item in Model.List)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                <form asp-area="Categorias" asp-controller="Categorias" asp-action="UpdateEstado" method="post">
                    <input type="hidden" name="id" value="@item.CategoriaID" />
                    @if (item.Estado)
                    {
                        <button type="submit" class="btn btn-success text-light">Activo</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger text-light">Inactivo</button>
                    }
                </form>
            </td>
            <td>
                @{
                    var data = JsonConvert.SerializeObject(@item);
                    <a onclick="categorias.EditarCategoria(@data)" data-toggle="modal" data-target="#modal-categorias" class="btn btn-info text-light">Editar</a>

                    <a onclick="categorias.ObtenerCategoria(@data)" data-toggle="modal" data-target="#modal-eliminar-categoria" class="btn btn-danger text-light">Eliminar</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>

<partial name="_ModalRegistrar"/>
<partial name="_ModalEliminar"/>

<!-- Agrego esta vista parcial para usar las validaciones JQuery y de esta forma lograr que el modal sea persistente,
    ya que sin usar esto, al momento de tratar de guardar una categoria y esta tenga un error de validacion
    en el formulario, esta se cerrraba de inmediato, pero agregando esta vista parcial solucionamos el inconveniente.-->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}